{% extends "VtallyBundle::layout.html.twig" %}
{% block content %}
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="clearfix">
            <div class="panel-heading" style="font-weight: bold; font-size: 23px;">
                Notification type:<span style="color: blue;"> Polling Station </span>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body" style="background-color: #5CB85C;">
                    <div class="profile">
                        <div style="margin-bottom: 15px;" class="row">
                            <div class="col-xs-12 col-sm-8" style="color: black;"><h2 style="color: black;">Saint-Cyr MAPOUKA</h2>
                                <p><strong>Type: <img src="{{ asset('upload/images/parDepCandidate/2.jpeg') }}" width="23px"/></strong> </p>
                                <p><strong>Phone: +233 268 568 006</strong></p>
                                <p><strong>Mail: verifier@domain.com</strong></p>
                                <p><strong>Education: Lawyer Degree</strong></p>
                            </div>
                            <div class="col-xs-12 col-sm-4 text-center">
                                <figure>

                                    <img src="{{ asset('upload/images/parDepCandidate/2.jpeg') }}" alt="" style="display: inline-block" class="img-responsive img-circle"/>
                                    
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                        
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body" style="background-color: #5CB85C;">
                    <div class="profile">
                        <div style="margin-bottom: 15px;" class="row">
                            <div class="col-xs-12 col-sm-8" style="color: black;"><h2 style="color: black;">Saint-Cyr MAPOUKA</h2>
                                <p><strong>Type: <img src="{{ asset('upload/images/parDepCandidate/2.jpeg') }}" width="23px"/></strong> </p>
                                <p><strong>Phone: +233 268 568 006</strong></p>
                                <p><strong>Mail: verifier@domain.com</strong></p>
                                <p><strong>Education: Lawyer Degree</strong></p>
                            </div>
                            <div class="col-xs-12 col-sm-4 text-center">
                                <figure>

                                        <img src="{{ asset('upload/images/parDepCandidate/2.jpeg') }}" alt="" style="display: inline-block" class="img-responsive img-circle"/>

                                    
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body" style="background-color: #37455F;">
                    
                        <div style="margin-bottom: 15px;" class="row">
                            <div class="col-xs-12 col-sm-8" style="color: white;"><h2 style="color: black;"></h2>
                                <p><strong>Collation center: Col. Center 1</strong> </p>
                                <p><strong>Ret. Officer: Saint-Cyr MAPOUKA</strong></p>
                                <p><strong>Ret. Officer No: +233 268 568 006</strong></p>
                                <p><strong>Constituency: Constituency Name</strong></p>
                                <p><strong>Region: Greater Accra</strong></p>
                            </div>
                            
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}