<h2>Parliamentary Regional level </h2>

<table id="t01">
  <tr>
    <th>Party</th>
    <th>Site</th> 
  </tr>
  {% for party in parties %}
    <tr>
      <td>{{ party.name }}</td>
      <td>{{ party.siteNumber }}</td> 
    </tr>
  {% endfor %}
  
</table>