{% extends "VtallyBundle::layout.html.twig" %}

{% block content %}
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="clearfix"></div>
    </div>
    <div class="page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <ul id="galleryTab" class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">4 Columns</a></li>
                            <li><a href="#tab2" data-toggle="tab">3 Columns</a></li>
                            <li><a href="#tab3" data-toggle="tab">2 Columns</a></li>
                        </ul>
                        <div id="galleryTabContent" class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="gallery-pages">
                                            <ul class="list-filter list-unstyled list-inline">
                                                <li data-filter="all" class="filter active">All</li>
                                                <li data-filter=".development" class="filter">Development</li>
                                                <li data-filter=".design" class="filter">Design</li>
                                                <li data-filter=".photography" class="filter">Photography</li>
                                                <li data-filter=".wordpress" class="filter">Wordpress</li>
                                                <li data-filter=".html" class="filter">Html</li>
                                            </ul>
                                            <div class="row mix-grid">
                                                <div class="col-md-3 mix photography">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="images/gallery/1.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/1.jpg" data-lightbox="image-1" data-title="Image 1" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mix html development">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="{{ asset('upload/images/1.jpg') }}" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/2.jpg" data-lightbox="image-2" data-title="Image 2" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mix html design">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/3.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/3.jpg" data-lightbox="image-3" data-title="Image 3" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mix development html">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/5.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/5.jpg" data-lightbox="image-5" data-title="Image 5" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mix wordpress">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/4.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/4.jpg" data-lightbox="image-4" data-title="Image 4" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mix design">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/6.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/6.jpg" data-lightbox="image-6" data-title="Image 6" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mix photography design">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/7.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/7.jpg" data-lightbox="image-7" data-title="Image 7" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mix wordpress html">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/8.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/8.jpg" data-lightbox="image-8" data-title="Image 8" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="gallery-pages">
                                            <ul class="list-filter list-unstyled list-inline">
                                                <li data-filter="all" class="filter">All</li>
                                                <li data-filter=".development" class="filter">Development</li>
                                                <li data-filter=".design" class="filter">Design</li>
                                                <li data-filter=".photography" class="filter">Photography</li>
                                                <li data-filter=".wordpress" class="filter">Wordpress</li>
                                                <li data-filter=".html" class="filter">Html</li>
                                            </ul>
                                            <div class="row mix-grid">
                                                <div class="col-md-4 mix photography">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/1.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3>

                                                            <p>Description goes here</p><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/1.jpg" data-lightbox="image-1" data-title="Image 1" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mix html development">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/2.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3>

                                                            <p>Description goes here</p><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/2.jpg" data-lightbox="image-2" data-title="Image 2" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mix html design">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/3.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3>

                                                            <p>Description goes here</p><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/3.jpg" data-lightbox="image-3" data-title="Image 3" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mix wordpress">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/4.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3>

                                                            <p>Description goes here</p><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/4.jpg" data-lightbox="image-4" data-title="Image 4" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mix html design">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/5.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3>

                                                            <p>Description goes here</p><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/5.jpg" data-lightbox="image-5" data-title="Image 5" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mix wordpress">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/6.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3>

                                                            <p>Description goes here</p><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/6.jpg" data-lightbox="image-6" data-title="Image 6" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="gallery-pages">
                                            <ul class="list-filter list-unstyled list-inline">
                                                <li data-filter="all" class="filter">All</li>
                                                <li data-filter=".development" class="filter">Development</li>
                                                <li data-filter=".design" class="filter">Design</li>
                                                <li data-filter=".photography" class="filter">Photography</li>
                                                <li data-filter=".wordpress" class="filter">Wordpress</li>
                                                <li data-filter=".html" class="filter">Html</li>
                                            </ul>
                                            <div class="row mix-grid">
                                                <div class="col-md-6 mix photography">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/1.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3>

                                                            <p>Description goes here</p><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/1.jpg" data-lightbox="image-1" data-title="Image 1" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mix html development">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/2.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3>

                                                            <p>Description goes here</p><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/2.jpg" data-lightbox="image-2" data-title="Image 2" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mix html design">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/3.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3>

                                                            <p>Description goes here</p><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/3.jpg" data-lightbox="image-3" data-title="Image 3" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mix wordpress">
                                                    <div class="hover-effect">
                                                        <div class="img"><img src="http://swlabs.co/madmin/code/style2/images/gallery/4.jpg" alt="" class="img-responsive"/></div>
                                                        <div class="info"><h3>Pellentesque vehicula</h3>

                                                            <p>Description goes here</p><a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a><a href="http://swlabs.co/madmin/code/style2/images/gallery/4.jpg" data-lightbox="image-4" data-title="Image 4" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <script src="{{ asset('js/page-gallery.js') }}"></script>
{% endblock %}